<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JulioOsvaldoHernandezBucio/blob/main/Semana3_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad 1. Julio Osvaldo Hernandez Bucio. A017943**

In [19]:
import pandas as pd
import numpy as np

In [20]:
url="https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
x = pd.read_csv(url)
df  = pd.DataFrame(data = x)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [21]:
df.to_csv('data.csv')
df = pd.read_csv('/content/data.csv', index_col=0)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
df.isnull().values.any()

True

In [ ]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [ ]:
df['X2'].isna().sum()

1

In [22]:
df["X2"].fillna(1, inplace = True)

Remplazamos el unico valor inexistente por un 1, ya que es descriminable.

In [ ]:
df['X2'].isnull().values.any()

False

In [ ]:
df['X3'].isna().sum()

2

In [23]:
df["X3"].fillna(4, inplace = True)

Se reemplaza con el valor de Otros, como son dos registros se pueden discriminar poniendo valores estaticos.

In [ ]:
df['X3'].isnull().values.any()

False

In [ ]:
df['X4'].isna().sum()

2

In [24]:
df["X4"].fillna(3, inplace = True)

Se reemplaza con el valor de Otros, como son dos registros se pueden discriminar poniendo valores estaticos.

In [ ]:
df['X5'].isna().sum()

0

In [25]:
df['X5'].fillna(df['X5'].mean(), inplace = True)

In [26]:
df['X5'] = df['X5'].astype(int)

In [31]:
df1 = df[df.isnull().any(axis=1)]
df1.loc[:,'X6': 'X23']

,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
18,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
38,1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0
49,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0
64,-1.0,-1.0,-2.0,-2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0
160,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0
173,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-709.0,-709.0,-709.0,-2898.0,-3272.0,-3272.0,0.0,0.0,0.0,NaN,0.0,0.0
175,1.0,2.0,2.0,2.0,2.0,3.0,64617.0,65978.0,67282.0,68557.0,NaN,71345.0,3000.0,3000.0,3000.0,5500.0,0.0,0.0
233,2.0,0.0,0.0,0.0,NaN,2.0,129801.0,131383.0,134379.0,142323.0,140120.0,150052.0,5000.0,5000.0,10000.0,0.0,12118.0,2769.0
240,1.0,2.0,2.0,-2.0,-2.0,-1.0,21501.0,20650.0,0.0,0.0,NaN,2285.0,0.0,0.0,0.0,0.0,2285.0,0.0
245,0.0,0.0,0.0,0.0,0.0,-2.0,19816.0,20396.0,20102.0,19575.0,0.0,0.0,1601.0,2203.0,2114.0,NaN,NaN,0.0
246,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,52874.0,1631.0,1536.0,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN
247,0.0,0.0,0.0,0.0,0.0,0.0,37767.0,34457.0,30036.0,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN
6227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0
6232,2.0,2.0,2.0,0.0,0.0,0.0,41387.0,42117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6268,1.0,2.0,0.0,0.0,NaN,NaN,87376.0,85135.0,86024.0,91380.0,93263.0,95079.0,0.0,3200.0,6800.0,3500.0,3500.0,0.0
6269,1.0,-2.0,-1.0,0.0,NaN,NaN,140.0,140.0,12527.0,12640.0,14805.0,238.0,140.0,12527.0,253.0,2305.0,238.0,238.0
6270,0.0,0.0,0.0,0.0,NaN,NaN,25043.0,26411.0,27451.0,19431.0,19837.0,20232.0,1775.0,1815.0,695.0,719.0,724.0,750.0
6276,0.0,0.0,0.0,0.0,0.0,-1.0,28292.0,30494.0,28317.0,NaN,NaN,1400.0,3000.0,1431.0,483.0,0.0,700.0,0.0
6277,1.0,2.0,0.0,0.0,0.0,2.0,58679.0,56871.0,56279.0,NaN,NaN,25453.0,1210.0,2056.0,1200.0,2300.0,0.0,1000.0
6278,0.0,0.0,2.0,2.0,2.0,0.0,9777.0,10140.0,9360.0,NaN,NaN,9116.0,2000.0,1000.0,1000.0,0.0,500.0,500.0
6382,1.0,2.0,0.0,0.0,NaN,NaN,82891.0,80997.0,81380.0,75374.0,77158.0,78710.0,0.0,3299.0,2699.0,3000.0,2987.0,3100.0
6383,0.0,0.0,0.0,0.0,NaN,NaN,86294.0,88412.0,89853.0,69362.0,70537.0,56775.0,4400.0,4111.0,2100.0,2200.0,2510.0,2000.0
6384,0.0,0.0,0.0,0.0,NaN,NaN,17807.0,18520.0,39053.0,20055.0,19606.0,19925.0,1298.0,1909.0,1666.0,5000.0,703.0,775.0
17989,0.0,0.0,NaN,0.0,0.0,0.0,79707.0,79876.0,79919.0,64237.0,47890.0,48036.0,3542.0,3500.0,2500.0,2000.0,2500.0,2000.0
17990,0.0,0.0,0.0,0.0,0.0,0.0,94962.0,49032.0,NaN,50269.0,29182.0,29096.0,4200.0,2200.0,3300.0,1200.0,1100.0,1100.0
18003,1.0,2.0,NaN,7.0,7.0,6.0,26181.0,37611.0,37026.0,38922.0,38318.0,38133.0,12000.0,0.0,2500.0,0.0,1000.0,1500.0
23943,0.0,0.0,2.0,3.0,2.0,2.0,14068.0,16706.0,18342.0,17755.0,17967.0,17538.0,3200.0,2200.0,0.0,800.0,NaN,1401.0
23990,0.0,0.0,0.0,NaN,0.0,0.0,59487.0,59199.0,59326.0,58938.0,30101.0,29735.0,2113.0,2500.0,3000.0,2500.0,1500.0,1100.0
23991,0.0,0.0,0.0,NaN,2.0,2.0,47727.0,45926.0,47095.0,49485.0,49083.0,45187.0,2100.0,2200.0,3500.0,2000.0,0.0,5151.0
23992,0.0,0.0,0.0,NaN,0.0,0.0,46521.0,47597.0,48799.0,41286.0,16764.0,16960.0,2150.0,2352.0,1239.0,717.0,585.0,589.0
24123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0
24365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0
29733,-2.0,-2.0,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3081.0
29734,-1.0,-1.0,2.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0
29735,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.0
29824,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29825,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29832,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090.0,1279.0,3000.0,6668.0,468.0,507.0,5582.0
29833,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19103.0,390.0,780.0,0.0,806.0,19103.0,1000.0

Eliminar fila 18, 6227, 6232, 24123, 24365, 29733, 29734, 29735, 29824, 29825, 29832, 29833,

In [62]:
update_df = df.drop([df.index[18], df.index[6227], df.index[6232], df.index[24123], df.index[24365], df.index[29733], df.index[29734], df.index[29735], 
                     df.index[29824], df.index[29825], df.index[29832], 29833])
 
update_df = update_df[update_df.isnull().any(axis=1)]
update_df.loc[:,'X6': 'X23']

,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
38,1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0
49,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0
64,-1.0,-1.0,-2.0,-2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0
160,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0
173,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-709.0,-709.0,-709.0,-2898.0,-3272.0,-3272.0,0.0,0.0,0.0,NaN,0.0,0.0
175,1.0,2.0,2.0,2.0,2.0,3.0,64617.0,65978.0,67282.0,68557.0,NaN,71345.0,3000.0,3000.0,3000.0,5500.0,0.0,0.0
233,2.0,0.0,0.0,0.0,NaN,2.0,129801.0,131383.0,134379.0,142323.0,140120.0,150052.0,5000.0,5000.0,10000.0,0.0,12118.0,2769.0
240,1.0,2.0,2.0,-2.0,-2.0,-1.0,21501.0,20650.0,0.0,0.0,NaN,2285.0,0.0,0.0,0.0,0.0,2285.0,0.0
245,0.0,0.0,0.0,0.0,0.0,-2.0,19816.0,20396.0,20102.0,19575.0,0.0,0.0,1601.0,2203.0,2114.0,NaN,NaN,0.0
246,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,52874.0,1631.0,1536.0,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN
247,0.0,0.0,0.0,0.0,0.0,0.0,37767.0,34457.0,30036.0,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN
6268,1.0,2.0,0.0,0.0,NaN,NaN,87376.0,85135.0,86024.0,91380.0,93263.0,95079.0,0.0,3200.0,6800.0,3500.0,3500.0,0.0
6269,1.0,-2.0,-1.0,0.0,NaN,NaN,140.0,140.0,12527.0,12640.0,14805.0,238.0,140.0,12527.0,253.0,2305.0,238.0,238.0
6270,0.0,0.0,0.0,0.0,NaN,NaN,25043.0,26411.0,27451.0,19431.0,19837.0,20232.0,1775.0,1815.0,695.0,719.0,724.0,750.0
6276,0.0,0.0,0.0,0.0,0.0,-1.0,28292.0,30494.0,28317.0,NaN,NaN,1400.0,3000.0,1431.0,483.0,0.0,700.0,0.0
6277,1.0,2.0,0.0,0.0,0.0,2.0,58679.0,56871.0,56279.0,NaN,NaN,25453.0,1210.0,2056.0,1200.0,2300.0,0.0,1000.0
6278,0.0,0.0,2.0,2.0,2.0,0.0,9777.0,10140.0,9360.0,NaN,NaN,9116.0,2000.0,1000.0,1000.0,0.0,500.0,500.0
6382,1.0,2.0,0.0,0.0,NaN,NaN,82891.0,80997.0,81380.0,75374.0,77158.0,78710.0,0.0,3299.0,2699.0,3000.0,2987.0,3100.0
6383,0.0,0.0,0.0,0.0,NaN,NaN,86294.0,88412.0,89853.0,69362.0,70537.0,56775.0,4400.0,4111.0,2100.0,2200.0,2510.0,2000.0
6384,0.0,0.0,0.0,0.0,NaN,NaN,17807.0,18520.0,39053.0,20055.0,19606.0,19925.0,1298.0,1909.0,1666.0,5000.0,703.0,775.0
17989,0.0,0.0,NaN,0.0,0.0,0.0,79707.0,79876.0,79919.0,64237.0,47890.0,48036.0,3542.0,3500.0,2500.0,2000.0,2500.0,2000.0
17990,0.0,0.0,0.0,0.0,0.0,0.0,94962.0,49032.0,NaN,50269.0,29182.0,29096.0,4200.0,2200.0,3300.0,1200.0,1100.0,1100.0
18003,1.0,2.0,NaN,7.0,7.0,6.0,26181.0,37611.0,37026.0,38922.0,38318.0,38133.0,12000.0,0.0,2500.0,0.0,1000.0,1500.0
23943,0.0,0.0,2.0,3.0,2.0,2.0,14068.0,16706.0,18342.0,17755.0,17967.0,17538.0,3200.0,2200.0,0.0,800.0,NaN,1401.0
23990,0.0,0.0,0.0,NaN,0.0,0.0,59487.0,59199.0,59326.0,58938.0,30101.0,29735.0,2113.0,2500.0,3000.0,2500.0,1500.0,1100.0
23991,0.0,0.0,0.0,NaN,2.0,2.0,47727.0,45926.0,47095.0,49485.0,49083.0,45187.0,2100.0,2200.0,3500.0,2000.0,0.0,5151.0
23992,0.0,0.0,0.0,NaN,0.0,0.0,46521.0,47597.0,48799.0,41286.0,16764.0,16960.0,2150.0,2352.0,1239.0,717.0,585.0,589.0

In [63]:
for index, row in update_df.iterrows():
  for column in update_df[['X6', 'X7', 'X8', 'X9', 'X10', 'X11']]:
    if(not np.isnan(update_df[column][index]) and update_df[column][index] != 0 and update_df[column][index] != -1 and update_df[column][index] < 0):
      update_df.at[index, column] = update_df[column][index] * -1

Se convierten los valores diferentes de -1 que son negativos a positivos para las columnas de Historial de pagos pasados

A continuacion se procede a limpiar los valores de las columnas Importe del pago anterior para despues limpiar las columnas de Historial de pagos pasados

In [64]:
for index, row in update_df.iterrows():
  mean = 0
  listColumnsNan = []
  for column in update_df[['X18', 'X19', 'X20', 'X21', 'X22', 'X23']]:
    if(np.isnan(update_df[column][index])):
      listColumnsNan.append(column) #If row has NAN values on previous payment column we get that column
  
  #If has nan we get the mean of this values so we can replace it
  if(len(listColumnsNan) > 0):
    for column in update_df[['X18', 'X19', 'X20', 'X21', 'X22', 'X23']]:
      if(not np.isnan(update_df[column][index])):
        mean = mean + update_df[column][index]

  if(len(listColumnsNan) > 0):
    mean = mean / 6
    for column in listColumnsNan:
      update_df.at[index, column] = mean

In [65]:
update_df.loc[:,'X6': 'X23']

,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
38,1.0,-1.0,-1.0,2.0,2.0,2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.000000,0.0,0.000000,0.000000,0.000000
49,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.000000,704.0,928.000000,912.000000,1069.000000
64,-1.0,-1.0,2.0,2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,392.166667,0.0,2353.000000,0.000000,0.000000
160,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.000000,2200.0,1358.333333,1200.000000,1250.000000
173,1.0,2.0,2.0,2.0,2.0,2.0,-709.0,-709.0,-709.0,-2898.0,-3272.0,-3272.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000
175,1.0,2.0,2.0,2.0,2.0,3.0,64617.0,65978.0,67282.0,68557.0,NaN,71345.0,3000.0,3000.000000,3000.0,5500.000000,0.000000,0.000000
233,2.0,0.0,0.0,0.0,NaN,2.0,129801.0,131383.0,134379.0,142323.0,140120.0,150052.0,5000.0,5000.000000,10000.0,0.000000,12118.000000,2769.000000
240,1.0,2.0,2.0,2.0,2.0,-1.0,21501.0,20650.0,0.0,0.0,NaN,2285.0,0.0,0.000000,0.0,0.000000,2285.000000,0.000000
245,0.0,0.0,0.0,0.0,0.0,2.0,19816.0,20396.0,20102.0,19575.0,0.0,0.0,1601.0,2203.000000,2114.0,986.333333,986.333333,0.000000
246,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,52874.0,1631.0,1536.0,1010.0,5572.0,794.0,1631.0,1536.000000,1010.0,5572.000000,1624.833333,1624.833333
247,0.0,0.0,0.0,0.0,0.0,0.0,37767.0,34457.0,30036.0,30337.0,30997.0,32904.0,1788.0,1799.000000,1100.0,1150.000000,2423.000000,1376.666667
6268,1.0,2.0,0.0,0.0,NaN,NaN,87376.0,85135.0,86024.0,91380.0,93263.0,95079.0,0.0,3200.000000,6800.0,3500.000000,3500.000000,0.000000
6269,1.0,2.0,-1.0,0.0,NaN,NaN,140.0,140.0,12527.0,12640.0,14805.0,238.0,140.0,12527.000000,253.0,2305.000000,238.000000,238.000000
6270,0.0,0.0,0.0,0.0,NaN,NaN,25043.0,26411.0,27451.0,19431.0,19837.0,20232.0,1775.0,1815.000000,695.0,719.000000,724.000000,750.000000
6276,0.0,0.0,0.0,0.0,0.0,-1.0,28292.0,30494.0,28317.0,NaN,NaN,1400.0,3000.0,1431.000000,483.0,0.000000,700.000000,0.000000
6277,1.0,2.0,0.0,0.0,0.0,2.0,58679.0,56871.0,56279.0,NaN,NaN,25453.0,1210.0,2056.000000,1200.0,2300.000000,0.000000,1000.000000
6278,0.0,0.0,2.0,2.0,2.0,0.0,9777.0,10140.0,9360.0,NaN,NaN,9116.0,2000.0,1000.000000,1000.0,0.000000,500.000000,500.000000
6382,1.0,2.0,0.0,0.0,NaN,NaN,82891.0,80997.0,81380.0,75374.0,77158.0,78710.0,0.0,3299.000000,2699.0,3000.000000,2987.000000,3100.000000
6383,0.0,0.0,0.0,0.0,NaN,NaN,86294.0,88412.0,89853.0,69362.0,70537.0,56775.0,4400.0,4111.000000,2100.0,2200.000000,2510.000000,2000.000000
6384,0.0,0.0,0.0,0.0,NaN,NaN,17807.0,18520.0,39053.0,20055.0,19606.0,19925.0,1298.0,1909.000000,1666.0,5000.000000,703.000000,775.000000
17989,0.0,0.0,NaN,0.0,0.0,0.0,79707.0,79876.0,79919.0,64237.0,47890.0,48036.0,3542.0,3500.000000,2500.0,2000.000000,2500.000000,2000.000000
17990,0.0,0.0,0.0,0.0,0.0,0.0,94962.0,49032.0,NaN,50269.0,29182.0,29096.0,4200.0,2200.000000,3300.0,1200.000000,1100.000000,1100.000000
18003,1.0,2.0,NaN,7.0,7.0,6.0,26181.0,37611.0,37026.0,38922.0,38318.0,38133.0,12000.0,0.000000,2500.0,0.000000,1000.000000,1500.000000
23943,0.0,0.0,2.0,3.0,2.0,2.0,14068.0,16706.0,18342.0,17755.0,17967.0,17538.0,3200.0,2200.000000,0.0,800.000000,1266.833333,1401.000000
23990,0.0,0.0,0.0,NaN,0.0,0.0,59487.0,59199.0,59326.0,58938.0,30101.0,29735.0,2113.0,2500.000000,3000.0,2500.000000,1500.000000,1100.000000
23991,0.0,0.0,0.0,NaN,2.0,2.0,47727.0,45926.0,47095.0,49485.0,49083.0,45187.0,2100.0,2200.000000,3500.0,2000.000000,0.000000,5151.000000
23992,0.0,0.0,0.0,NaN,0.0,0.0,46521.0,47597.0,48799.0,41286.0,16764.0,16960.0,2150.0,2352.000000,1239.0,717.000000,585.000000,589.000000

A continuacion se procede a limpiar los valores de las columnas de Estado de Cuenta para despues limpiar las columnas de Historial de pagos pasados

In [ ]:
for index, row in update_df.iterrows():
  mean = 0
  listColumnsNan = []
  for column in update_df[['X18', 'X19', 'X20', 'X21', 'X22', 'X23']]:
    if(np.isnan(update_df[column][index])):
      listColumnsNan.append(column) #If row has NAN values on previous payment column we get that column
  
  #If has nan we get the mean of this values so we can replace it
  if(len(listColumnsNan) > 0):
    for column in update_df[['X18', 'X19', 'X20', 'X21', 'X22', 'X23']]:
      if(not np.isnan(update_df[column][index])):
        mean = mean + update_df[column][index]

  if(len(listColumnsNan) > 0):
    mean = mean / 6
    for column in listColumnsNan:
      update_df.at[index, column] = mean

In [ ]:
#for column in df.columns[['X6', 'X7', 'X8', 'X9', 'X10', 'X11']]: